# Локальные настройки среды разработки
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Папки с зависимостями
node_modules/
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Папка с переводами ключей
/extractedTranslations

# Результаты сборки
/dist
/build
/target
/out
/.vscode
/storybook-static
.loki/report.html
.loki/report.json

# Логи и базы данных
*.log
*.sqlite3
*.db

# Операционные файлы
.DS_Store
Thumbs.db

# VSCode и другие редакторы
.vscode/
.idea/
*.swp
*.swo

# Бэкапы
*~
*.bak